<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Reading GEDCOM file</title>
</head>
<body>
  <div class="container-fluid">
	<form [formGroup]="fileForm" (ngSubmit)="onSubmit()">
	  
	  <div class="form-group">
	    <label for="fileFullPath">Choose a 5.5.1 GEDCOM file to read:</label>
	    <input type="file" class="form-control-file" id="fileFullPath" 
	    	formControlName="fileFullPath" [pattern]="gedPattern" (change)="fileFullPathChangeValue($event)">	  
	    <label *ngIf="fileForm.controls.fileFullPath.errors?.['pattern']" [ngClass]="'error'">
	    	File must be a GedCom file.</label> 	 
	  </div>
	  
	  <div class="form-group">
	    <label for="projectName">GEDCOM project name:</label>
	    <input type="text" class="form-control-file" id="projectName" 
	    	formControlName="projectName" (change)="projectNameChangeValue()">
	    <label *ngIf="fileForm.controls.projectName.errors?.['required']" [ngClass]="'error'">
			Name is required!</label> 
		<label *ngIf="fileForm.controls.projectName.errors?.['pattern']" [ngClass]="'error'">
			Project name not valid (only letters, numbers, '-' and '_')</label> 	 
		<label *ngIf="fileForm.controls.projectName.errors?.['minlength']" [ngClass]="'error'">
			Name must be at least 3 characters long</label>
		<label *ngIf="fileForm.controls.projectName.errors?.['maxlength']" [ngClass]="'error'">
			Name must be 60 characters long</label>  
	  </div>
	  
	  <button type="submit" class="btn btn-primary" [disabled]="!fileForm.valid">Submit</button>
	</form>
	<br>
	<div class="code-box">
		<div class="code-content">
			<span class="code-token-name">File path: </span>
			<span *ngIf="!fileForm.controls.fileFullPath.errors">
				<span class="code-token-string">{{fileForm.controls.fileFullPath.value}}</span>
			</span><br>
				<span class="code-token-name">File name: </span>
			<span *ngIf="fileName">{{fileName}}
			</span><br>
			<span><span class="code-token-name">Last modified: </span>{{fileLastModified}}</span><br>
			<span><span class="code-token-name">Size: </span>{{fileSize}}</span><br>
			<span><span class="code-token-name">Type: </span>{{fileType}}</span><br>
			<span class="code-token-name">Project name: </span>
			<span *ngIf="!fileForm.controls.projectName.errors">
				{{fileForm.controls.projectName.value}}
			</span><br>
		</div>
	</div>
	
</div>
</body>
</html>